body {
    background-image: linear-gradient(to left top, #66ff00, #00ff40, #00a2ff, #0059ff, #003cff);
    color: rgb(255, 0, 0);
    margin-top: 10px;
    font-family: monospace;
}

.heading {
    width: 100%;
    font-size: 25px;
}

h3 {
    width: auto;
    height: 30px;
    background-color: rgb(94, 255, 0);
}

#camera {
    width: auto;
    height: 350px;
    border: 3px;
    border-style: dashed;
    border-color: rgb(0, 236, 138);
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: rgb(255, 115, 0);
}
